doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Конкурс Unistream
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:300,400')
    link(rel='stylesheet' href='css/bootstrap.min.css')
    link(rel='stylesheet' href='css/magnific-popup.css')
    link(rel='stylesheet' href='css/templatemo-style.css')
  body
      .row
        .tm-left-right-container
          // Left column: logo and menu
          .tm-yellow-bg.tm-left-column
            .tm-logo-div.text-xs-center
              img(src='img/logo.svg' alt='Logo')
            nav.tm-main-nav
              ul.tm-main-nav-ul
                li.tm-nav-item
                  a.tm-nav-item-link(href='#about') О конкурсе
                li.tm-nav-item
                  a.tm-nav-item-link(href='#submit') Отправить ролик
                li.tm-nav-item
                  a.tm-nav-item-link(href='#gallery') Галерея роликов
                li.tm-nav-item
                  a.tm-nav-item-link(href='#vote') Голосование
          // Left column: logo and menu
          // Right column: content
          .tm-right-column
            .tm-content-div
              .container
                if errorMessages.length > 0
                  .alert.alert-danger
                    each message in errorMessages
                      span !{message}
                if infoMessages.length > 0
                  .alert.alert-success
                    each message in infoMessages
                      span !{message}
              // About section
              section#about.tm-section
                .row
                  .col-lg-8.col-md-7.col-sm-12.col-xs-12.push-lg-4.push-md-5
                    header
                      h2.tm-blue-text.tm-section-title.tm-margin-b-45 О конкурсе
                    p
                      | Алло, мы ищем 
                      span.red-strong-word SUPER
                      |  таланты!
                      | В преддверии нового года 
                      span.endeavour-strong-word ЮНИСТРИМ
                      |  запускает конкурс талантов среди сотрудников.
                    p
                      | Если днем ты профессионал банковского дела, а вечером: певец, художник, танцор, спортсмен, музыкант, модельер, кондитер, либо занимаешься какой-то иной творческой деятельностью — участвуй в конкурсе!
                    h3 Как подать заявку?
                    p
                      b До 11 декабря
                      |  загрузи ролик, демонстрирующий твой super-талант и получи шанс выиграть 
                      b 100 000 рублей!
                  .col-lg-4.col-md-5.col-sm-12.col-xs-12.pull-lg-8.pull-md-7.tm-about-img-container
                    img.img-fluid(src='img/about-contest-picture.jpg' alt='Image')

              // Submit section
              section#submit.tm-section
                header
                  h2.tm-blue-text.tm-section-title.tm-margin-b-30 Отправить ролик
                .row
                  .col-lg-6
                    form.contact-form(action='/new-clip' method='post')
                      .form-group
                        input#contact_name.form-control(type='text' name='name' placeholder='Имя' required='')
                      .form-group
                        input#contact_email.form-control(type='email' name='email' placeholder='Email' required='')
                      .form-group
                        input#contact_message.form-control(type='text' name='clip-url' placeholder='Ссылка на Youtube' required='')
                      button.float-right.tm-button(type='submit') Отправить
                  .col-lg-6.tm-contact-right
                    p
                      | Чтобы участвовать в конкуре — нужно загрузить ролик на Youtube. Инструкцию для загрузки можно почитать по 
                      b
                        a(target='_blank' href='https://drive.google.com/file/d/1xU2EXgPTMXnwB_2d7-h45neUrmkAldxK/view?usp=sharing') этой ссылке
                      | .
                    p
                      b Обратите внимание
                      | , что ролик должен быть 
                      b
                        a(target='_blank' href='https://support.google.com/youtube/answer/157177#privacy_settings&zippy=%2C%D0%B4%D0%BE%D1%81%D1%82%D1%83%D0%BF-%D0%BF%D0%BE-%D1%81%D1%81%D1%8B%D0%BB%D0%BA%D0%B5') доступен только в режиме «по ссылке».

              // Gallery section
              section#gallery.tm-section
                header
                  h2.tm-blue-text.tm-section-title.tm-margin-b-30 Галерея роликов
                .tm-gallery-container.tm-gallery-1
                  each clip in clips
                    .tm-img-container.tm-img-container-1
                      p.tm-participant Участник: !{clip.name}
                      iframe.lazy(width='560' height='315' data-src=clip.clipUrl title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
              
              // Vote section
              //.section#vote.tm-section  
                header
                  h2.tm-blue-text.tm-section-title.tm-margin-b-30 Голосование
                .tm-vote
                  iframe(src='https://docs.google.com/forms/d/e/1FAIpQLScamV186lXQEraWxDeiWJ6bI5IEyPxKEzJwCDFQMyInEqUImA/viewform?embedded=true' width='640' height='786' frameborder='0' marginheight='0' marginwidth='0')
          // Right column: content
          // row
          // container
          // load JS files
          script(src='https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js')
          script(src='js/jquery-1.11.3.min.js')
          // jQuery (https://jquery.com/download/)
          script(src='js/jquery.magnific-popup.min.js')
          // Magnific pop-up (http://dimsemenov.com/plugins/magnific-popup/)
          script(src='js/jquery.singlePageNav.min.js')
          // Single Page Nav (https://github.com/ChrisWojcik/single-page-nav)
          script.
            $(document).ready(function(){
            // Single page nav
            $('.tm-main-nav').singlePageNav({
            'currentClass' : "active",
            offset : 20
            });
            // Magnific pop up
            $('.tm-gallery-1').magnificPopup({
            delegate: 'a', // child items selector, by clicking on it popup will open
            type: 'image',
            gallery: {enabled:true}
            // other options
            });
            });
          script.
            (function () {
            ll = new LazyLoad({});
            })();
          // Based on templatemo.com design